fieldset{
	margin-left:auto;
	margin-right:auto;
	width:25%;
	background-color:#FFFFF0;
	border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px;

	/* Required for IE 5, 6, 7 */
	/* ...or something to trigger hasLayout, like zoom: 1; */
	/*width:100%;*/

	/* Theoretically for IE 8 & 9 (more valid) */
	/* ...but not required as filter works too */
	/* should come BEFORE filter */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";

	/* This works in IE 8 & 9 too */
	/* ... but also 5, 6, 7 */
	filter: alpha(opacity=60);/* console error */

	/* Older than Firefox 0.9 */
	/*-moz-opacity:0.5; /* errore console */

	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: 0.6;

	/* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
	opacity: 0.6;
}

input{
	float:right;
}



